body{
  background: #eafcc7;
  font-family: 'Shadows Into Light', cursive;
  font-weight: bold;
  font-size: 20px;

}

#result{
  margin: 30px;
  display: none;
  font-family:monospace;
}

#reverse{
  display: none;
}

#btnReverse{
  color: green;
}
.jumbotron{
  text-align: center;
  font-size: 30px;
  background-color: #ffe5f9;
}
